@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v30/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
html,
body {
  background-image: url("images/background-gray.svg");
  border: 0px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 0px;
    
}

body {
  vertical-align: middle;
  font-family: Assistant;
  margin: 0;
  direction: rtl;
  font-weight: 600;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
}


/* header */
header{
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 2vh 7vw;
  background-color: lightcoral;
  background-image: url("images/up-strip.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;

  -webkit-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  
  z-index: 1;
}

header.in-menu {
  background: white;
  color: black;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.title-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  overflow: auto;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  margin: 0;
  padding: 0;
  z-index: 20;
  pointer-events: none;
}

.title-wrapper>* {
  position: fixed;
  z-index: 2;
  margin: 0;
  padding: 1vh 0;
  height: 6vh;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 3vh;
  text-align: center;
  -webkit-box-shadow: 0px 4px 50px 4px rgba(167, 169, 172, 1);
  -moz-box-shadow: 0px 4px 50px 4px rgba(167, 169, 172, 1);
  box-shadow: rgba(167, 169, 172, 1) 0px 4px 50px 4px;
}

#options{
  position: relative;
}



body .inactive {
  display: none;
}

header img{
  height: 3vh;
  /* margin-bottom: 1vh; */
}

header .space{
  flex: 1 0 0;
}

.topic{
  font-size: 3.5vh;
  margin-right: 7vw;
  color: white;
}

.in-menu>.topic{
  color: #4D7582;
}

header a{
  max-height: fit-content;
  padding: 0;
  margin:0;
}

.leftArrow{
width: 4vw;
height: 4vh;
/* position: absolute; */
/* top:60%; */
/* right: 65%; */
}

.rightArrow{
width: 4vw;
height: 4vh;
/* position: relative; */
/* top:60%; */
/* right: 35%; */
}
.content {
  flex: 1 0 0;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
}

.cards {

}

.content {
  overflow: auto;
}

.content>* {
  position: relative;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.card-nav {
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.card {position: relative;width: 40vh;height: 40vh;display: flexbox;display: -webkit-flex;display: -ms-flexbox;display: flex;flex-direction: column;perspective: 2000px;/* top: 15%; */right: 50vw;margin-top: 15%;transform: translate(50%);}

.appearence {
  transform: rotateY(0deg);
  /* width: 70vw; */
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s transform ease-in-out;
  background-image: url("images/blue-card.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card>.hitbox {position: absolute;height: 100%;width: 100%;opacity: 0;order: -1;z-index: 1;/* margin-top: 15%; */margin: 0;}

.card>.hitbox:checked ~ .appearence {
transform: rotateY(180deg);

}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateY(-180deg);
  
  transform-style: preserve-3d;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

   display: flex;
   justify-content: center;
   align-items: center;
   backface-visibility: hidden;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
  }

.card .front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;
  
  transform: rotateY(0deg);
}

.greedy-padding {
  flex: 1 0 0;
}

.choose-again{
  position: relative;
  display: flex;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  justify-content: space-evenly;
}

.choose-again-img{
  /*! width: 40vw; */
  height: 20vh;
}

#text-home-butten{
  font-size: 2.5vh;
  text-align: center;
  color: #4D7582;
  position: fixed;
  margin-top: 8.5vh;

}

#term-text{
  font-size: 3.5vh;
  text-align: center;
  color: #4D7582;
}

#term-explain-text{
  font-size: 3.5vh;
  text-align: center;
  color: #4D7582;
  /*! width: 69vw; */
  text-align: center;
  /*! width: 1px; */
}

#current-term{

  font-size: 3vh;
  text-align: center;
  color: #4D7582;
  position: fixed;
  
}

.menu-icon{
  width: 7.5vw;
  height: 3vh;
  margin-right: 3vw;
  /* background-image: url("images/home.svg"); */
  background-repeat: no-repeat;
  pointer-events: all;
}


.in-menu>.menu-icon{
  background-image: url("images/home-blue.png");
}

.choice-button{
  height: 20vh;
  background-color: white;
  display: flex;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  margin-top: 10vh;
}

.icon{
  min-height: 55vh;
  -webkit-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 50px 4px rgba(0,0,0,0.75);
  background-image: url("images/big-strip-with-pills.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8vh;
  position: relative;
}


.home-buttons-img{
  height: 12vh;
  /* margin-left: 20vw; */
  /* margin-right: 10vw; */
  margin-left: auto;
}

#card-buttom-home-name{
  font-size: 3.5vh;
  /* margin-right: 7vw; */
  color:#6BA097;
}

#test-buttom-home-name{
  font-size: 3.5vh;
  /* margin-right: 7vw; */
  color:#EE978F;
}

#game-buttom-home-name{
  font-size: 3.5vh;
  /* margin-right: 7vw; */
  color:#9ACFDA;
}

#try-buttom-home-name{
  font-size: 3.5vh;
  /* margin-right: 7vw; */
  color:#EEB95B;

}

.card-button{
  /* width: 100vw; */
  display: flex;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  align-items: center;
  /* position: fixed; */
  /* justify-content: space-evenly; */
  padding: 0 10vw;
}

.card .num-2{
  background-image: url("images/green-card.svg");
}

.card .num-3{
  background-image: url("images/yellow-card.svg");
}

.card .num-4{
  background-image: url("images/red-card.svg");
}

#icon-text{
  font-size: 4vh;
  /* text-align: center; */
  color: white;
  position: relative;
  /* margin-top: 30vh; */
  top:40vh;
  margin-right: 10vw;

}

.buttom-home-explain{
  font-size: 2.35vh;
  /* text-align: center; */
  color: #4D7582;
  /* max-width: 75%; */
  /* display: inline-block; */
  /* margin: auto; */
}

.choice-button-text{
  text-align: right;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  max-width: 40%;
}


/* test */
.note{
  position: relative;
  width: 100%;
  height: 45vh;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  justify-items: center;
  perspective: 2000px;
  /* top: 15%; */
  /* right: 16%; */
  /* margin: auto; */
  margin-top: 7%;
}

.test .appearence{
  
width: 97vw;
  
height: 100vh;
  
background-image: url("images/blue-tape.svg");
  
background-repeat: no-repeat;
  
background-size: 100% 100%;
  
display: flexbox;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;

  
justify-content: center;
  
align-items: center;
  
margin: auto;
}

.test .appearence.currect {
  background-image: url("images/blue-tape-checked.svg");
}
.test .appearence.wrong {
  background-image: url("images/blue-tape-x.svg");
}

.num-2.test .appearence {
  background-image: url("images/green-tape.svg");
}
.num-2.test .appearence.currect {
  background-image: url("images/green-tape-checked.svg");
}
.num-2.test .appearence.wrong {
  background-image: url("images/green-tape-x.svg");
}

.num-3.test .appearence {
  background-image: url("images/yellow-tape.svg"); 
}

.num-3.test .appearence.currect {
  background-image: url("images/yellow-tape-checked.svg");
}
.num-3.test .appearence.wrong {
  background-image: url("images/yellow-tape-x.svg");  
}

.num-4.test .appearence {  
  background-image: url("images/red-tape.svg");
}

.num-4.test .appearence.currect {
  background-image: url("images/red-tape-checked.svg");
}
.num-4.test .appearence.wrong {
  background-image: url("images/red-tape-x.svg");
}


.test.num-2 .ans-input {
  background: #b0ceb2;
  --color: #76ADA2;
}

.test.num-3 .ans-input {
  background: #eeddc4;
  --color: #EDC38E;
}

.test.num-4 .ans-input {
   background: #EDC7C3;
   --color: #EE978F;
}

.test.bad-answer .ans-input {
  --color: white;
}

.test.num-2 .check-ans{
  background-image: url("images/trufati-26.svg");
}

.test.num-3 .check-ans{
  background-image: url("images/trufati-27.svg");
}

.test.num-4 .check-ans{
  background-image: url("images/trufati-25.svg");
}

.test.num-2 .dont-know-text{
  color : #1CA36D;
}

.test.num-3 .dont-know-text{
  color: #EEB95B;
}

.test.num-4 .dont-know-text{
  color: #EF5B5B;
}

.ans-input{    
  width: fit-content;
  
    background: #C3D7DC;
    --color: #89B8BF;
}

.ans-input input:focus {
  outline: none;
}

.ans-input input{
  border: none;
  font-size: 2.75vh;
  border-bottom: solid var(--color);
  color: var(--color); 
  /* color : #0F2849; */
  margin: 1vh 1vw;
  width: 55vw;
  height: 5vh;
  background-color: inherit;
}

.ans-input input::placeholder {
  font-size: 2.75vh;
  color: var(--color);
}

div#answer {
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-top: 3vh;
}

#answer img {
  width: 10vw;
}

.dont-know-text{
  margin-right: 33vw;
  color : #009AC4;
  font-style: bold;
  font-size: 4.5vw;
}

#test-nav{
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.leftArrowTest{
  width: 4vw;
  height: 4vh;
  visibility: hidden;
  }
  
  .rightArrowTest{
  width: 4vw;
  height: 4vh;
  visibility: hidden;
  }

  .check-ans{
    background-image: url("images/trufati-24.svg");
    background-repeat: no-repeat;
    height: 5vh;
    width: 10vw;
  }
  
.currect-text{
  color:#1CA36D;
}

.worng-text{
  color:#EC2429;
}

.result {
  position: relative;
  margin: 0 11vw;
  font-size: 4.5vw;
  margin-top: -2vh;
  pointer-events: none;
}

.result * {
  position: absolute;  
}

.result-signs{
  width: 15vw;
  position: absolute;
}

.result-signs img{
  position: absolute;
}


#greenV {
  top: 19px;
}

#redX {
  top: -23px;
}

.choice-button>* {
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
}

#term-text-test{
  color:#0F2849;
  font-size: 5.5vw;
  width: 67vw;
  text-align: center;
}

#current-term-test{
  color:#0F2849;
  font-size: 5vw;
}

/* test answer */

#finish{
  font-size:11vw;
  color:#1CA36D;
  margin-top: 7vh;
  text-align: center;
}

.score{
  margin-top: 3vh;
  background-image: url("images/small-blue-tape.svg");
  height: 20vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
   justify-content: center;
   align-items: center;
}

#score-text{
  font-size:5vw;
  color:#0F2849;
}


.list-space{
  height: 30vh;
  background-color: #EEDDC4;
  margin-top: 2vh;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
}

#list-headline{
  background-color: rgba(225, 127, 140, .8);
  color:#EF5B5B;
  font-size: 6vw;
  width: 60vw;
  position: relative;
  margin:auto;
  padding: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.space-of-adding-terms{
  overflow: auto;
}

.term-choice{
  color:#0F2849;
  margin-top: 3vh;
}

.worng-text-term{
  font-size: 5vw;
  color:#0F2849;
  /* margin: 5vh; */
}

.worng-counter-number{
  color:#0F2849;
  font-size: 7vw;
  background-color: #EFBE78;
  padding-right: 4vw;
  padding-left: 2vw;
  margin-right: 0%;
}

.space-of-adding-quess{
  height: 69vh;
  overflow: auto;
  
}

.check-box{
  /* height: 15%; */
  background-image: url("images/empty-check-box.svg");
  height: 5vw;
  min-width: 5vw;
  display: inline-block;
  margin-top: 1.25vw;
}

.try-answer{
  color:#0F2849;
  font-size: 5vw;
  /* margin-top: 2vh; */
  /* display: inline; */
  margin-right: 2vw;
  
}

.term-text-try{
  color:#0F2849;
  font-size: 5.5vw;
  display: inline;
  padding: 1vw;
  margin-right: 6vw;
}

.space-of-adding-quess>div:nth-child(3n+0) .term-text-try {
  background-color: #f18181;
  color: #932644;
}

.space-of-adding-quess>div:nth-child(3n+1) .term-text-try {
  background-color: #7BCFF1;
  color: #026a9b;
}

.space-of-adding-quess>div:nth-child(3n+2) .term-text-try {
  background-color: #F49a40;
  color: #BB3932;
}

.check-if-currect-text{
  color: #1CA36D;
  font-size: 8vw;
  text-align: center;
}

.check-if-currect-img{
  background-image: url("images/green-next-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1em;
}

.check-if-currect{
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  justify-content: center;
}


.checked, .right {
  position: relative;
}
.checked:after{
  content: '';
position: absolute;
width: 2.5em;
height: 2.5em;
left: .25em;
bottom: -0.25em;
background-image: url("images/pin.svg");
background-repeat: no-repeat;
}

.disable>*{
  pointer-events: none;
}

.checked.correct:after{
  content: '';
position: absolute;
width: 2.5em;
height: 2em;
right: -1.65em;
bottom: -0.25em;
background-image: url("images/correct-green-v-try.svg");
background-repeat: no-repeat;
}

.checked.mistake:after{
  content: '';
position: absolute;
width: 2.5em;
height: 2em;
right: -1.47em;
bottom: -0.25em;
background-image: url("images/mistake-red-x-try.svg");
background-repeat: no-repeat;
}

.right:after{
  content: '';
position: absolute;
width: 1.5em;
    height: 2em;
    right: -0.5em;
  bottom: -0.55em;
background-image: url("images/green-v-try.svg");
background-repeat: no-repeat;
}

.time-title{
  font-size: 8vh;
  color: #0F2849;
  text-align: center;
  margin-top: 3vh ;
}

#match-button-text{
  color: #1CA36D;
  font-size: 2em;
  display: inline-block;
}

#match-button-img{
  height: 2em;
  width: 1.5em;
  background-image: url("images/green-next-arrow.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.match-button{
  position: relative;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  align-items: center;
  align-self: flex-end;
}

.space-of-adding-cards{
  height: 49vh;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: auto; */
  overflow: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.term-card-game{
  height: 20vw;
  width: 20vw;
  background-image: url("images/game-blue-card-term.svg") ; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-top: 5vw;
}

.term-explain-card-game{
  height: 20vw;
  width: 20vw;
  background-image: url("images/game-blue-card-explain.svg") ; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-top: 5vw;
  overflow-y: auto;
  line-break: anywhere;
  overflow-wrap: anywhere;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 0 80%, 0 0);
}

.game-curr-choose-explain{
  background-image: url("images/game-yellow-card-explain.svg") ; 
}

.game-curr-choose-term{
  background-image: url("images/game-yellow-card-term.svg");
}

.game-curr-worng-explain{
  background-image: url("images/game-red-card-explain.svg") ; 
}

.game-curr-worng-term{
  background-image: url("images/game-red-card-term.svg");
}

.game-curr-correct-explain{
  background-image: url("images/game-green-card-explain.svg") ; 
}

.game-curr-correct-term{
  background-image: url("images/game-green-card-term.svg");
}

.game .finish-text{
  position: absolute;
  width: 100vw;
  left: 50vw;
  transform: translateX(-50%);
  align-items: center;
  text-align: center;
  margin-right: 9vw;
  margin-top: 20vh;
  font-size: 3em;
  color: #1CA36D;
}

.big-explain{
  height: 28vh;
  width: 100vw;
  background-image: url("images/big-explain-game.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  display: flexbox;
  display: -webkit-flex;
  display: -ms-flexbox;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#big-explain-img{
  width: 7vw;
  height: 7vh;
  /* align-self: flex-end; */
  position: absolute;
  top: 0vh;
  left: 2vw;
}

.big-explain-text{
    max-width: 95vw;
    text-align: center;
}

#about{
  background-color: #4d7683;
  color: white;
  text-align: right;
  padding: 3vh 7vw;
  margin-top: 10vh;
}

#about #aboutTitle{
  font-weight: bold;
  margin-bottom: 1vh;
  font-size: 3.9vh;
}

#about .row{
  margin-bottom: 1.5vh;
  line-height: 1.5em;
  font-size: 2.7vh;
}

#about #logos{
  display: flex;
  align-items: center;
  justify-content: center;
}

#about #logos img{
  height: 9vh;
}

/* import fonts from local files  */

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-ExtraBold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-ExtraLight.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Assistant;
  src: url(fonts/Assistant-SemiBold.ttf);
  font-weight: 600;
}
