#skarim {
    width: 25vw;
}

#nosyringe {
    width: 37vw;
}

#paper {
    width: 28vw;
    margin-bottom: 5vh;
}

#syringepills {
    width: 25vw;
    margin-top: -3vh;
}

#diamond {
    width: 34vw;
}

#chartbeat {
    margin: 2vh 0 2vh 6vw;
}