@font-face {
    font-family: "assistant";
    src: url("assets/fonts/Assistant-Regular.ttf");
}

@font-face {
    font-family: "assistant";
    src: url("assets/fonts/Assistant-bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "assistant";
    src: url("assets/fonts/Assistant-SemiBold.ttf");
    font-weight: 500;
}

body {
    font-family: "assistant";
    direction: rtl;
    margin: 0px;
    background-image: url("assets/images/bg.svg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
    color: rgb(15, 40, 73);
    font-size: min(5vmin, 2.5vmax);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absolute {
    position: absolute;
}

.header {
    width: 100vw;
    color: white;
    height: 15vh;
    background-image: url("assets/images/bar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 50px 4px rgba(0, 0, 0, 0.35);
    z-index: 99;
    display: flex;
    align-items: center;
}

.head {
    right: 8%;
    font-weight: 400;
    font-size: min(5vmin, 3vmax);
    margin: 0;
}

.about {
    width: 5.5%;
    left: 3%;
    top: 3%;
}

.navigate {
    width: 4%;
    right: 3%;
    top: 3%;
}

.closing {
    top: 48%;
    right: 7%;
    display: none;
    font-weight: 500;
}

.finished {
    right: 55%;
    bottom: -20%;
    width: 22%;
}

.instructions {
    height: 61%;
    width: 24%;
    text-align: center;
    bottom: 10%;
    margin-right: 0.5%;
    background-image: url("assets/images/note1.svg");
    background-repeat: no-repeat;
    background-size:  cover;
    color: #0D2849;
    padding-top: 5%;
    padding-right: 4%;
    padding-left: 3%;
    /* font-size: 110%; */
    font-weight: 500;
    z-index: 99;
}

.instructions-text {
    width: 75%;
}

.man {
    margin-right: 30%;
    z-index: 96;
    width: 80%;
    bottom: 20%;
    left: 1%;
}

.check {
    width: 8%;
    display: none;
    margin-top: 67vh;
    margin-right: 38%;
    z-index: 99;
}

.next {
    width: 12%;
    margin-top: 45%;
    margin-right: 25%;
    display: none;
}

.exeminations {
    background-repeat: no-repeat;
    background-size:  cover;
    padding-right: 2%;
    padding-left: 2%;
    top: 35%;
    width: 15%;
    height: 44%;
    z-index: 99;
    text-align: center;
    font-weight: bold;
    color: rgb(78, 118, 131);
    /* font-size: 110%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#exemination1 {
    background-image: url("assets/images/exemination1.svg");
    right: 55%;
    z-index: 99;
}

#exemination2 {
    background-image: url("assets/images/exemination2.svg");
    right: 32%;
    z-index: 99;
}

#exemination3 {
    background-image: url("assets/images/exemination3.svg");
    right: 78%;
    z-index: 99;
}

.injury {
    width: 5%;
    left: 45%;
    bottom: 36.5%;
    z-index: 98;
}

.circle {
    width: 5%;
    margin-right: 93%;
    margin-top: 3%;
    display: none;
}

.circ {
    background-image: url("assets/images/note4.svg");
    background-repeat: no-repeat;
    background-size:  cover;
    height: 20vh;
    width: 20%;
    padding-top: 6%;
    padding-right: 1%;
    padding-left: 1%;
    text-align: center;
    /* font-size: 90%; */
    font-weight: 500;
}

.circ1 {
    width: 25%;
}

.circ-steps {
    margin-top: -3%;
    width: 65%;
    display: none;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    left: 3%;
    z-index: 99;
}

.circ-cont1 {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 12%;
}

.circ-cont2 {
    display: flex;
    justify-content: space-around;
}

.yes-or-no {
    z-index: 99;
    display: none;
    top: 35%;
    right: 45%;
    width: 50%;
    height: 25%;
}

.answer {
    background-repeat: no-repeat;
    background-size:  cover;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 18%;
    width: 50%;
    height: 94%;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin-left: 5%;
}

#yes {
    background-image: url("assets/images/exemination1.svg");
}

#no {
    background-image: url("assets/images/exemination2.svg");
}

.options {
    display: none;
    right: 10%;
    bottom: 4%;
    width: min-content;
    z-index: 99;
    flex-direction: column;
}

.option {
    width: 6%;
    display: inline-block;
}

.option2 {
    display: inline-block;
}

.text {
    display: inline-block;
    margin-top: 4%;
    margin-right: 1%;
    width: min(80vmin, 60vmax);
    z-index: 98;
    pointer-events: none;
}

.div {
    display: flex;
    z-index: 98;
    width: min-content
}

.feedback {
    width: 20%;
    z-index: 99;
    right: 57%;
    display: none;
}

.answers {
    display: none;
    right: 8%;
    bottom: 23%;
    width: 60%;
    height: 42%;
    z-index: 99;
    flex-direction: column;
}

.cont {
    display: flex;
    width: fit-content;
    margin-left: 0;
}

.answer-text {
    width: 80%;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0;
    margin-right: 3%;
    display: inline-block;
}

.options2 {
    width: 7%;
}

.extra {
    margin-top: 27%;
    margin-right: 3%;
    width: 75%;
}

.resaults {
    width: 27%;
    text-align: center;
    right: 60%;
    bottom: 8%;
    font-weight: bold;
}

.goodjob {
    width: 60%;
    top: 47%;
    right: 2%;
    font-size: min(20vmin, 17vmax);
    font-weight: bold;
}

.palse {
    margin-top: 11%;
}

.about-div {
    background-image: url("assets/images/about/bghorizontal.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 79%;
    width: 95%;
    padding-right: 5%;
    padding-top: 5%;
    top:15%;
    z-index: 100;
    color: white;
    display: none;
    font-weight: 400;
    font-size: 130%;
}

.logo {
    height: 20%;
    margin-top: -20%;
    margin-right: 77%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}

.about-p {
    margin: 0;
}
.turn-div {
    z-index: 100;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #e8e8e8, #f3f3f3);
    text-align: center;
    padding-top: 20%;
    font-weight: 600;
    color: rgb(15, 40, 73);
}

.turn {
    font-size: 200%;
}

.ok {
    font-size: 140%;
    text-decoration: underline;
    color: #009ac4;
}